.container {
    padding: 0 7.5%;
    width: 100%;

    @include tablet {
        margin: 0 auto;
        padding: 0;
        max-width: 750px;
    }

    @include desktop {
        max-width: 960px;
    }

    @include desktop-md {
        max-width: 1140px;
    }
}