.section {
    &__title {
        margin-bottom: calcRem(24px);
        padding: calcRem(10px);
        background: $black;
        color: $white;
        font-family: 'Raleway', sans-serif;
        font-size: calcRem(16px);
        font-weight: 400;
        text-transform: uppercase;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__tag {
        margin: 0 calcRem(5px) calcRem(5px)  0;
        padding: calcRem(5px) calcRem(10px);
        background-color: $grey-bg;
        font-size: calcRem(11px);
        @include transition(background-color 0.1 ease-in-out);

        &:hover {
            background-color: $accent;
            color: $white;
        }
    }
}

.section--travel {
    @include phablet {
        .section__content {
            flex-direction: row;
            justify-content: space-between;
        }

        .article {
            width: 47.5%;
        }
    }
}

.section--lifestyle {
    @include phablet {
        .article {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: calcRem(40px);
            border-bottom: 2px solid $grey-bg;

            &:last-child {
                margin-bottom: calcRem(0px);
                border-bottom: 0;
            }
        }

        .image {
            width: 30%;
        }

        .article__content {
            margin-top: 0;
            width: 65%;
        }
    }
}

.section--fashion {
    .article {
        display: flex;
        flex-direction: row;
        margin-bottom: calcRem(20px);
        justify-content: flex-start;
        border-bottom: 2px solid $grey-bg;

        &:last-child {
            margin-bottom: calcRem(0px);
            border-bottom: 0;
        }
    }

    .image {
        width: 100px;
        margin-bottom: calcRem(24px);
    }

    .image__img {
        width: 100px;
        height: 100px;
    }

    .article__content {
        margin: 0 0 calcRem(20px) calcRem(24px);
        width: auto;
    }

    .article__title {
        font-size: calcRem(20px);
        font-weight: 400;
    }

    .article__author {
        color: $accent;
        font-weight: 400;

        &:hover {
            color: $black;
            text-decoration: none;
        }
    }

    .article__txt {
        font-size: calcRem(14px);
    }
}