.social {
    margin-bottom: calcRem(40px);
    text-align: center;

    &__links {
        margin: 0 calcRem(1px) calcRem(5px) calcRem(1px);
        width: 54px;
        height: 54px;
        background-color: $grey-bg;
        font-size: 28px;
        line-height: calcRem(54px);
        text-align: center;
        @include transition(background-color 0.1s ease-in-out);

        &:first-child {
            margin-left: 0;
        }    
        
        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $black;
            color: $white;
        }
    }
}