.intro {
    &__logo {
        padding: 30px 0;
        font-family: 'Raleway', sans-serif;
        border-bottom: 3px solid $black;
    }

    &__logo h1 {
        margin: 0 0 calcRem(20px);
        font-size: calcRem(48px);
        font-weight: bold;
        text-align: center;
    }

    @include desktop {
        &__logo h1 {
            margin: calcRem(30px) 0 0;
            text-align: left;
        }
    }
}